<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="index.php" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Kobe Generate API">
                    <match url="^kobegen/([^/]*)/?" />
                    <action type="Rewrite" url="inc/kobe_gen.php?text={R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
